@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  background-color: hsl(180, 66%, 49%);
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

/* HEADER SECTION CSS STARTS HERE */

/* Nav container css starts here */

/* Nav container css ends here */

/* header container css starts here */

/* header container css ends here */

/* HEADER SECTION CSS ENDS HERE */



/* MAIN SECTION CSS STARTS HERE */

/* search container css starts here */

/* search container css ends here */

/* statistics-container css starts here */

/* statistics-container css ends here */

/* position container css starts here */

/* position container css ends here */

/* MAIN SECTION CSS ENDS HERE */


/* FOOTER SECTION CSS STARTS HERE */


/* footer1 container starts here */
/*.container{
  min-height: 50vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas:"footer1-container";
}*/
.footer1-container{
  min-height: 50vh;
  background: hsl(255, 11%, 22%, 0.95) url(images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
text-align: center;}
#get-started{
  background-color: hsl(180, 66%, 49%);
  background-color: hsl(180, 66%, 49%);
 border-radius: 20px;
 width: 100px;
 height: 10%;
}
#get-started:hover{
  background-color: aliceblue;
  border-color: aliceblue;
  color: #000; 
}
/* footer1 container ends here */

/* footer2 container starts here 
.container{
  min-height: 50vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas:"row";
}*/
.row{
  display: flex;
  background-color: hsl(257, 27%, 26%);
  color: aliceblue;
  padding-right: 10rem;
  padding-left: 4rem;
  grid-area: row;
  min-height: 50vh;
 
}
.column{
  /*float: left;
  width: 20%;*/
  display: block;
  width: 100%;
  font-family:'Poppins', sans-serif;
}
#col-1a:hover{
  color: hsl(180, 66%, 49%);
}
#col-1b:hover{
  color: hsl(180, 66%, 49%);
}
#col-1c:hover{
  color: hsl(180, 66%, 49%);}
.socials{
 display: flex;
 gap: 40px;
}
.so1 .fa-facebook-official:hover{
  color:hsl(180, 66%, 49%) !important;
  }
  .so2 .fa-twitter:hover{
    color:hsl(180, 66%, 49%) !important;
  }
  .so3 .fa-pinterest:hover{
   color: hsl(180, 66%, 49%) !important;
  }
  .so4 .fa-instagram:hover{
    color: hsl(180, 66%, 49%) !important;
  }  

/*
.column{
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 50vh;
  background-color: rgb(29, 0, 29);
color: aliceblue;
}*/

/* footer2 container ends here */

/* FOOTER SECTION CSS ENDS HERE */



/* ????????????? MOBILE RESPONSIVENESS SECTION ?????????????????????? */


/* HEADER SECTION CSS STARTS HERE */

/* Nav container css starts here */

/* Nav container css ends here */

/* header container css starts here */

/* header container css ends here */

/* HEADER SECTION CSS ENDS HERE */



/* MAIN SECTION CSS STARTS HERE */

/* search container css starts here */

/* search container css ends here */

/* statistics-container css starts here */

/* statistics-container css ends here */

/* position container css starts here */

/* position container css ends here */

/* MAIN SECTION CSS ENDS HERE */


/* FOOTER SECTION CSS STARTS HERE */
 
 
  
 
/* footer1 container starts here */
@media screen and (max-width:375px){
    .footer1-container{
      font-size: 1.5rem;
      height: 50vh;
    }
    #get-started{
      background-color: hsl(180, 66%, 49%);
      border-color: hsl(180, 66%, 49%);
      border-radius: 30px;
      width: 100px;
      color: maroon;
  }
  h1{
    color: white;
  }
  }
  
/* footer1 container ends here */

/* footer2 container starts here */
@media only screen and (max-width: 375px){
    .row{
      display: grid;
      grid-column: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "column";
    }
    }